$dark-brown: #312614;
$light-brown: #b7832f;
$gray: #707070;
$white: #fff;
$heading-fs: 3rem;
$sub__heading-fs: 1.5rem;
$paragraph-fs: 1.125rem;
$layout__length: 980px;
$gap : 1.5rem;

.container {
  width: 95%;
  max-width: $layout__length;
  margin: 0 auto;
  color: $gray;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

.main__page-title {
  font-size: $heading-fs;
  text-align: center;

  span {
    color: $light-brown;
  }
}

.hero__section {
  img {
    width: 100%;
    height: auto;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $gap;
}

.col__heading {
  font-size: $sub__heading-fs;
  line-height: 2em;
}

.col {

  &.col-1 {
    flex-basis: calc(25% - (0.5*$gap));
  }

  &.col-2 {
    flex-basis: calc(50% - $gap);
  }

  &.col-3 {
    flex-basis: calc(75% - (0.5*$gap));
  }

  &.col__bg {
    padding: 1em;
    background-color: $dark-brown;
    color: $white;
  }
}